.card{
  border: 1px solid hsl(0, 0%, 69%);
  display:inline-block;
  text-align:center;
  border-radius: 2%;
  box-shadow: 5px 5px 5px hsl(0, 0%, 58%);
  margin: 1.5%;
  max-width: 450px;
}

.card-image{
  max-width: 50%;
  height:auto;
  margin-top: 5%;
  border-radius: 10%;
}

.card-title{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
  margin: 0; 
}

.card-text{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  margin: 10px; 
}