.button{
    width: 150px;
    height: 50px;
    border-radius: 20px;
    border: 0px;
    margin: 20px;
    font-size: 15px;
    background-color: rgb(112, 176, 229);
    cursor: pointer;
    color: white;
}